/* General settings*/
:root {
  --background-color: #1b1917;
  --color-white: rgb(255, 255, 255);
  --color-black: #1b1917;
  --color-dark-gray: #423e3a;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  color: #1b1917;
  background-color: #f5f1eb;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  border: none;
  font-family: inherit;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.hover-btn {
  position: relative;
  display: inline-block;
  transition: opacity 0.3s ease;
  overflow: hidden;
}

.hover-btn span {
  display: block;
  transition: transform 0.4s ease;
}

.hover-btn::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-110%);
  transition: transform 0.4s ease;
}

.hover-btn:hover span {
  transform: translateY(110%);
}

.hover-btn:hover::after {
  transform: translateY(0);
}

/*Header*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  min-height: 100vh;
  overflow: hidden;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* заполняет экран без искажений */
  z-index: 0;
}

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    /* верх — прозрачный (светлый) */ rgba(0, 0, 0, 0) 40%,
    /* держим светлым до 40% */ rgba(0, 0, 0, 0.8) 70%,
    /* к 70% темнее */ rgba(0, 0, 0, 0.9) 80%,
    /* 80% — затемнение 90% */ rgba(0, 0, 0, 0.9) 100% /* до низа 90% */
  );
}

/* Видео и оверлей остаются на месте */
.header__video,
.header__overlay {
  position: absolute;
  inset: 0;
}

.header .container {
  position: relative;
  z-index: 2;
  will-change: transform; /* для плавности */
}

.header__wrapper-top {
  margin-top: 20px;
}

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: transform 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  background-color: var(--background-color);
  color: var(--color-white);
  border-radius: 2px;
  padding: 12px 20px;
  max-width: fit-content;
}

.header__top.hidden {
  transform: translateY(-140%);
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu__link {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.header__title h1 {
  padding-top: 350px;
  font-size: 80px;
  font-weight: 300;
  color: var(--color-white);
  line-height: 88px;
}

.header__title::after {
  content: "";
  position: absolute;
  bottom: -80px;
  width: 1300px;
  height: 1px;
  opacity: 0.5;
  background-color: #fff;
}

/*Main*/

.main {
  position: relative;
  z-index: 2;
  margin-top: 100vh;
  background-color: #f5f1eb;
}

/*ABOUT*/

.about {
  height: 100%;
  padding: 100px 0;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about__heading h2 {
  color: var(--color-black);
  font-size: 60px;
  font-weight: 500;
  line-height: 73px;
}

.about__btn {
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-gray);
  border-radius: 2px;
  font-size: 14px;
  color: var(--color-white);
  font-weight: 500;
  line-height: 23px;
  padding: 8px 16px;
  text-decoration: none;
}

.about__preview {
  display: flex;
  justify-content: flex-end;
}

.about__desc {
  display: flex;
  max-width: 780px;
  gap: 70px;
}

.about__desc p {
  color: var(--color-black);
  text-align: start;
  line-height: 26px;
  opacity: 0.82;
}

.about__preview picture {
  display: block;
  width: 100%;
}

.about__img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 2px;
}

/*Services*/

.services {
  background-color: var(--color-black);
  padding: 130px 0;
}

.service__title h2 {
  color: var(--color-white);
  font-size: 60px;
  font-weight: 500;
  line-height: 73px;
  text-align: center;
  margin-bottom: 100px;
}

.services__panel {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.services__bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}

.services__content {
  position: relative;
  height: 100%;
  z-index: 2;
}

.services__panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #1b1917;
  opacity: 0.6;
  z-index: 1;
  pointer-events: none;
}

.services__count {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--color-white);
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.services__link {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--color-white);
  font-size: 14px;
  line-height: 23px;
  cursor: pointer;
}

.services__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
}

.services__desc {
  position: absolute;
  bottom: 100px;
  right: 20px;
  max-width: 500px;
  color: var(--color-white);
  font-weight: 300;
  line-height: 26px;
  opacity: 0.8;
}

/*Career*/

.career {
  padding: 100px 0;
}

.career__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.career__title h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 73px;
  text-align: center;
}

.career__title p {
  text-align: center;
  line-height: 26px;
  opacity: 0.82;
}

.career__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  column-gap: 5px;
  padding-bottom: 150px;
}

.career__card {
  position: relative;
  overflow: hidden;
  transition:
    color 0.5s ease,
    border-color 0.5s ease;
  height: 380px;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
}

.career__card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #c2551e;
  transform: scale(0); /* сжат в точку */
  transform-origin: right bottom; /* точка — правый нижний угол */
  transition: transform 0.5s ease;
}

.career__card:hover::before {
  transform: scale(1); /* растягивается на всю карточку */
}

.career__card > * {
  position: relative;
  z-index: 1;
}

.career__card:hover {
  color: #fff;
  border-color: #c2551e;
}

.career__card-icon {
  opacity: 0.48;
  transition:
    filter 0.5s ease,
    opacity 0.5s ease;
}

.career__card:hover .career__card-icon {
  filter: brightness(0) invert(1); /* делает иконку белой */
  opacity: 0.9;
}

.career__card-num {
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  opacity: 0.9;
}

.career__hire-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
}

.career__hire-title h2 {
  font-size: 60px;
  font-weight: 500;
  line-height: 73px;
}

.career__hire-title p {
  line-height: 26px;
  text-align: left;
  flex-basis: 350px;
}

.career__hire-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.career__steps {
  max-width: 500px;
  list-style-type: none;
  counter-reset: my-counter;
}

.steps__item-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

.steps__item-text {
  line-height: 26px;
  opacity: 0.82;
}

.steps__item {
  counter-increment: my-counter;
  padding-left: 75px;
  padding-bottom: 40px;
  position: relative;
}

.steps__item::before {
  position: absolute;
  content: counter(my-counter);
  width: 50px;
  height: 50px;
  border: 1px solid #1b1917;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
}

.steps__item::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #423e3a;
  left: 20px;
  top: 48px;
  bottom: 8px;
}

.steps__item:last-child::after {
  display: none;
}

.career__hire-img {
  width: 45%;
  border-radius: 2px;
  overflow: hidden;

}

.career__hire-img img {
  
}