# Игнорировать все видео файлы
*.mp4
*.webm
*.mov
*.avi
*.mkv

# Игнорировать все изображения
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.avif
*.svg
*.ico

# Игнорировать целые папки
video/
images/

# Системные файлы
.DS_Store